<div class="col-xs-10 col-xs-offset-1">
	<h1>About me </h1>
	<hr />
</div>

<div class="col-xs-10 col-xs-offset-1">
  		<%= image_tag 'kareem.jpg', :class => 'img-responsive' %>
 </div>
 <div class= "col-xs-10 col-xs-offset-1 ">
  		<h2>Kareem Rady</h2>
  		<br />
  </div>
  <div class="col-xs-8 col-xs-offset-2">
  	<p>
  		Kareem is a Systems Engineer with experience in various fields from Oil and gas drilling operation to Data Aquisitions , VOIP systems & IP networks.
  		He has a great passion for technology and loves learning new skills.
  	</p>
  	</div>
<br class="clear" />
<br />
<br />
<br />
<br />
